
.main-container-changepass {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #2f363e; 
.changepass-detail-container{
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px; 
    display: flex;
        justify-content: center;
    .form-group-change{
        width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center; 
        margin-bottom: 15px; 
      
            label {
              width: 300px;
              margin-bottom: 0; 
              margin-right: 15px; 
              font-weight: bold;
              color: #ecf0f1;
              flex-basis: 150px;
              text-align: left; 
            }
              input[type="password"]
               {
                padding: 10px;
                border: 1px solid #2f363e;
                border-radius: 10px;
                background-color: rgb(36, 41, 45);
                color: #ecf0f1;
                font-size: 16px;
                outline: none;
                flex-grow: 1;          
                margin-right: 5px;   
                &:focus {
                  border-color: #1abc9c;
                }
              }
             .tox.tox-edit-focus .tox-edit-area::before {
                opacity: 1;
            }
         }
}
   
}
.submit-button-changepass{
        border-radius: 10px;
        position: absolute;
        left:50%;
        margin-top: 10px;
        color: #000000;
        background-color: #36e9c8;
        padding: 10px 35px;
}