    .Department-table-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    background-color: #2f363e;
    padding: 30px 10px 20px 20px; 
    .Table-Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    
      .show-entries {
        display: flex;
        align-items: center;
        font-size: 22px;
        margin-top: -25px;
        span {
          margin-right: 5px;
          color: #fff;
          margin-right: 10px;
        }
  
        select {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          margin-right: 10px;
          color: #fff;
          font-size: 15px;
          background-color: rgb(28, 33, 38);
        }
      }
      .Header-Search{
        display: flex;
        align-items: center;
       height: 50px;
       margin-left: auto;
       margin-right: 10px;
       margin-bottom: 20px;
       position: relative;
            .search-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #ffffff;
            font-size: 20px;
           }
       
          .search-input {
          background: rgb(28, 33, 38);
          border: none;
          border-radius: 10px;
          padding: 8px 30px 8px 15px;
          color: #ffffff;
          width :300px;
          height:30px;
          font-size: 15px;
        
          &::placeholder {
            color: #b8afaf; 
            font-size: 15px; 
                }
           }
       }
    }
  
   .Department-table-container{
      overflow-x: auto;
      width: 100%;

  .Department-table {
    border-collapse: collapse;
    background-color: #2f363e;
    color: #fff;
    font-weight: 400;
    min-width: 1200px; 
    th{
        width: auto;
      font-weight: 900;
      text-align: left;
    }
    td {
      padding: 12px 10px 12px 0px;
      border-bottom: 1px solid #444;
        text-align: left;
      font-size: 18px;
    }
  
    th {
      cursor: pointer;
      user-select: none;
    }
  .checkbox{
    transform: scale(1.5); 
  }
  .single-line-cell {
    white-space: nowrap;       
    overflow: hidden;        
    text-overflow: ellipsis;    
    display: block;
    max-width: 1000px;          
  }
  
  }
}
  .pagination {
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    .pagination-buttons {
      display: flex;
      gap: 8px;
      button {
        padding: 12px 16px;
        border-radius: 10px;
        background-color: #5fd4bf;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        outline: none;
  
        &:hover:not(:disabled) {
          background-color: #5fd4bf;
        }
  
        &.active {
          background-color: #5fd4bf;
          color: #fff;
          border-color: #5fd4bf;
        }
  
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}