.login-container {
    background-color: rgb(36, 41, 45); // Màu nền tối
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
  }
  
  .login-box {
    background-color:rgb(47, 54, 62); // Màu nền hộp đăng nhập
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 30%;
    text-align: center;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    .logo-image {
        height: 50px; 
        margin-right: 10px; 
      }
    .logo-text {
        display: flex;
        flex-direction: column;
      }
    
      .Ticket {
        color: #13b497; 
      }
    
      .System {
        margin-top:-10px ;
        color: #fff;
      }
    }

  .title {
    color: #fff;
    margin-bottom: 30px;
    font-size: 20px;
  }
  
  .form-group {

    margin-bottom: 20px;
    text-align: left;
  
    label {
      display: block;
      color: #fff;
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  
    input[type='email'],
    input[type='password'] {
      width: 100%;
      padding: 15px;
      border: 1px solid #555;
      border-radius: 10px;
      background-color: #24292d;
      color: #fff;
      box-sizing: border-box;
    }
  }
  
  .sign-in-button {
    background-color: #13b497;
    color: #fff;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
  }
  